* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  padding: 20px;
}

button {
  padding: 5px 10px;
}

#follower {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  top: -10px;
  left: -10px;
}
#authContainer #loginButton,
#authContainer.logged #logoutButton {
  display:inline-block;
}

#authContainer.logged #loginButton,
#authContainer #logoutButton {
  display:none;
}
